button {
	-webkit-appearance: none;
	border: 1px solid black;
	background-color: white;
}
button.selected {
	background-color: rgb(100, 100, 100);
}

.layer {
	height: 50px;
	background-color: white;
	line-height: 50px;
}

.layer.selected {
	background-color: rgb(100, 100, 100)
}